body {
	background-image:url(fon.png);
	background-color:#FDECFE;
	min-width: 1024px;
	min-height: 600px;
	font-family: sans-serif;
}

h2 {
	text-align:center;
}

p {
	color:#FCE3E9;
}

a {
	text-decoration: none;
	color:#FCE3E9;
}

h3 {
	color:#F1BFD1;
}

#sas {
	float: left;
}

#chose {
	margin-top: 475px;
}